//reset
* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 13px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background-color: #f1f1f1;
}
a {
  color: #999;
}

//colors
$colors: (
  primary: red,
  "white": #fff,
  "light": #f9f9f9,
  "black": #000,
  dark: #222,
  dark-1: #343440,
  "grey": #999,
);

@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}

//text
$position: (left, center, right);
@each $var in $position {
  .text-#{$var} {
    //注意这里两个都是大括号
    text-align: $var;
  }
}

//font-size
$base-font-size: 1; //插件 px to rem   设置基础大小设置为13px
$font-sizes: (
  xs: 0.7692rem,
  sm: 0.9231rem,
  md: 1rem,
  lg: 1.0769rem,
  xl: 1.2308rem,
  //下边要相乘，所以两者其中之一不能有单位
);
@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}
